* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFF4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
  background-color: #000000;
}

.menu .submenu {
  background-color: #EB6424;
}

.menu .submenu .submenu__item--color {
  color: #FFFFF4;
}

.menu .submenu .submenu__item--color:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #000000;
}

.carrusel__titulo {
  font-size: 30px;
  text-shadow: 1px 1px 3px #000000;
  color: #FFFFF4;
  background: #00000083;
  background-clip: content-box;
}

.presentacion .presentacion__logo {
  margin-top: 80px;
  width: 45%;
}

.presentacion .presentacion__titulo {
  color: #1C5813;
  text-shadow: 1px 1px 2px #546C1F;
}

.presentacion .presentacion__subtitulo {
  color: #546C1F;
  text-shadow: 1px 1px 1px #1C5813;
}

.titulo {
  color: #1C5813;
  text-shadow: 1px 1px 2px #546C1F;
}

.hr1 {
  background-color: #FA9500;
  border-style: none;
  height: 3px;
}

.hr2 {
  background-color: #FA9500;
  border-style: none;
  height: 1px;
}

.izquierda .galeria {
  border-bottom: 2px solid #FA9500;
  border-radius: 8px;
  background-color: #DEE5E5;
}

.izquierda .galeria .galeria__h2 {
  color: #EB6424;
  text-shadow: 1px 1px 2px #FA9500;
}

.izquierda .galeria .galeria__card .tarjeta {
  border: 1px solid #EB6424;
  background-color: #FFFFF4;
  width: 20rem;
  height: auto;
}

.izquierda .galeria .galeria__card .tarjeta .tarjeta__h5 {
  color: #546C1F;
}

.izquierda .galeria .galeria__card .tarjeta .botonRec {
  width: 200px;
}

.izquierda .galeria .galeria__card .tarjeta__size {
  border: 1px solid #EB6424;
  background-color: #FFFFF4;
  width: 50rem;
  height: auto;
}

.izquierda .galeria .galeria__card .tarjeta__size .foto {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.izquierda .galeria .galeria__card .tarjeta__size .foto__url {
  background-image: url(../assets/tips-cul/img-tips.jpeg);
}

.izquierda .galeria .galeria__card .tarjeta__size .foto__url2 {
  background-image: url(../assets/sa_nu/veggie.jpeg);
}

.izquierda .galeria .galeria__card .tarjeta__size .foto__url3 {
  background-image: url(../assets/sa_nu/vegetales.jpeg);
}

.izquierda .galeria .galeria__card .tarjeta__size .foto__url4 {
  background-image: url(../assets/sa_nu/nutrientes.jpeg);
}

.izquierda .galeria .galeria__card .tarjeta__size .tarjeta__h5 {
  color: #546C1F;
}

.izquierda .galeria .galeria__card .tarjeta__size .botonArt {
  width: 250px;
}

.izquierda .galeria .galeria__card .tarjeta:hover, .izquierda .galeria .galeria__card .tarjeta__size:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 2px solid #EB6424;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.izquierda .galeria .galeria__boton {
  border-radius: 8px;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 400px;
  letter-spacing: 4px;
  background-color: #546C1F;
}

.izquierda .galeria .galeria__boton:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation: 1.5s cajaMov infinite;
          animation: 1.5s cajaMov infinite;
}

@-webkit-keyframes cajaMov {
  50% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes cajaMov {
  50% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

.derecha {
  border-radius: 10px;
  margin-bottom: 10px;
}

.derecha .derecha__titulo {
  color: #546C1F;
  text-shadow: 1px 1px 1px #1C5813;
}

.derecha .presentacion__parrafo {
  color: #8C7F2B;
}

.derecha .formulario label {
  color: #000000;
  font-weight: bold;
}

.derecha .formulario .formulario__categoria--color {
  background-color: #1C5813;
  color: #FFFFF4;
}

.derecha .formulario .formulario__categoria--color:hover {
  background-color: #1C5813;
  color: #FFFFF4;
}

.derecha .formulario .formulario__boton--propiedades {
  background-color: #EB6424;
  color: #FFFFF4;
  border-style: none;
  border-radius: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  width: 250px;
  height: 50px;
}

.derecha .formulario .formulario__boton--propiedades:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: 1s flash 1;
          animation: 1s flash 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFF4;
}

@-webkit-keyframes flash {
  50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.derecha .galeria__derecha .tarjeta {
  border: 1px solid #EB6424;
  width: 25rem;
  height: auto;
}

.derecha .galeria__derecha .tarjeta .tarjeta__h5 {
  color: #546C1F;
}

.derecha .galeria__derecha .tarjeta:hover {
  border: 2px solid #EB6424;
}

.derecha .derecha__videos {
  max-width: 26rem;
  border-radius: 8px;
}

.videos .videos__titulo {
  color: #1C5813;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #546C1F;
}

.videos .videos__caja {
  max-width: 18rem;
  border-radius: 8px;
  margin-bottom: 10px;
}

.videos .tarjetaV {
  border: 1px solid #EB6424;
  background-color: #FFFFF4;
  width: 20rem;
  height: auto;
}

.videos .tarjetaV .tarjetaV__h5 {
  color: #546C1F;
}

.videos .tarjetaV:hover {
  border: 2px solid #EB6424;
}

.fondo {
  background-image: linear-gradient(115deg, #dee5e550, #0000009c), url(../assets/form/form-fondo.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContact {
  width: 80vw;
  height: auto;
  background-color: #eb6324b9;
  color: #FFFFF4;
  border-radius: 1%;
  padding: 2%;
}

.formContact label {
  font-size: 18px;
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 3px;
}

.formContact button {
  width: 100%;
  height: 45px;
  font-size: 17px;
  background: #546C1F;
  border-style: none;
}

.footer {
  background-color: #1C5813;
  height: auto;
}

.footer .footer__menu__texto {
  color: #FFFFF4;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 18px;
}

.footer .footer__menu__texto:hover {
  color: #fffff4c2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer .footer__foto {
  width: 160px;
}

.footer .footer__boton {
  background-color: #000000;
  border-style: none;
  width: 100%;
  text-decoration: none;
  color: #FFFFF4;
  letter-spacing: 5px;
  font-weight: bold;
  height: 35px;
}

.footer .footer__boton:hover {
  background-color: #546C1F;
}

.footer .formulario .formulario__categoria--color {
  background-color: #1C5813;
  color: #FFFFF4;
}

.footer .formulario .formulario__categoria--color:hover {
  background-color: #1C5813;
  color: #FFFFF4;
}
/*# sourceMappingURL=estilos.css.map */