*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colores_1: (
    negr0:     #000000,
    rojo:      #9F3310,
    d-orang: #D6771C,
    naranjo:   #ECA923,
    verd3:     #546C1F,
    d-verde:   #223E27,
    plomo:     #DEE5E5,
    blanc0:    #FFFFF4
);

$negr0: map-get($colores_1, negr0);
$rojo:  map-get($colores_1, rojo);
$d-orang:  map-get($colores_1, d-orang);
$naranjo:  map-get($colores_1, naranjo);
$verd3:  map-get($colores_1, verd3);
$d-verde:  map-get($colores_1, d-verde);
$plomo:  map-get($colores_1, plomo);
$blanc0:  map-get($colores_1, blanc0);

body{
    background-color: $blanco;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

