* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFF4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
  background-color: #000000;
}

.menu .submenu {
  background-color: #EB6424;
}

.menu .submenu .submenu__item--color {
  color: #FFFFF4;
}

.menu .submenu .submenu__item--color:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #000000;
}

.presentacion__logo {
  margin-top: 80px;
}

.hr1 {
  background-color: #FA9500;
  border-style: none;
  height: 3px;
}

.hr2 {
  background-color: #FA9500;
  border-style: none;
  height: 1px;
}

.dIzquierda .galeria {
  border-bottom: 2px solid #FA9500;
  border-radius: 8px;
}

.dIzquierda .galeria .galeria__h2--color {
  color: #1C5813;
  font-weight: bold;
  font-size: 25px;
}

.dIzquierda .galeria .galeria__h5--color {
  color: #EB6424;
  font-weight: bold;
  font-size: 25px;
}

.dIzquierda .galeria .galeria__h6--color {
  color: #FA9500;
  font-weight: bold;
  font-size: 25px;
}

.dIzquierda .galeria .tarjeta {
  border: 1px solid #EB6424;
  background-color: #FFFFF4;
  width: 20rem;
  height: auto;
}

.dIzquierda .galeria .tarjeta .tarjeta__h2 {
  color: #1C5813;
  font-size: 19px;
}

.dIzquierda .galeria .tarjeta .tarjeta__h5 {
  color: #EB6424;
  font-size: 19px;
}

.dIzquierda .galeria .tarjeta .tarjeta__h6 {
  color: #FA9500;
  font-size: 19px;
}

.dIzquierda .galeria .tarjeta:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 2px solid #EB6424;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dIzquierda .galeria .galeria__boton {
  border-radius: 8px;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transform: translateX(0px);
  -webkit-transition-duration: 0.3s;
}

.dIzquierda .galeria .galeria__boton--propiedades {
  width: 400px;
  letter-spacing: 4px;
  background-color: #546C1F;
}

.dIzquierda .galeria .galeria__boton--propiedades2 {
  width: 500px;
  background-color: #fa1100;
  margin-top: 10px;
}

.dIzquierda .galeria .galeria__boton:hover {
  -webkit-transform: translateY(-6px);
  -webkit-animation: 1.5s cajaMov infinite;
}

@-webkit-keyframes cajaMov {
  50% {
    -webkit-transform: translateY(-1px);
  }
}

.dDerecha .dDerecha__texto--acolor {
  color: #1C5813;
  font-size: 23px;
}

.dDerecha .dDerecha_presentacion--acolor {
  color: #546C1F;
}

.videos {
  width: 18rem;
}

.videos__texto--acolor {
  color: #1C5813;
  font-size: 21px;
}

.footer {
  background-color: #1C5813;
  height: auto;
}

.footer .footer__menu__texto--acolor {
  color: #FFFFF4;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 18px;
}

.footer .footer__menu__texto--acolor:hover {
  color: #fffff4c2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__boton {
  background-color: #000000;
  border-style: none;
  border-radius: 0;
  width: 100%;
  text-decoration: none;
  color: #FFFFF4;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
}

.footer__boton:hover {
  background-color: #546C1F;
}

.formulario .formulario__categoria--color {
  background-color: #1C5813;
  color: #FFFFF4;
}

.formulario .formulario__categoria--color:hover {
  background-color: #1C5813;
  color: #FFFFF4;
}

.formulario .formulario__boton--propiedades {
  background-color: #EB6424;
  color: #FFFFF4;
  border-style: none;
  border-radius: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  width: 250px;
  height: 50px;
}

.formulario .formulario__boton--propiedades:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: 1s flash 1;
          animation: 1s flash 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFF4;
}

@-webkit-keyframes flash {
  50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */