*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colores: (
    verde:   #1C5813,
    oliva:   #546C1F,
    bistre:  #8C7F2B,
    baio:    #BABD8D,
    gris:    #DEE5E5,
    blanco:  #FFFFF4,
    naranja: #FA9500,
    d-orang: #EB6424,
    negro:   #000000
);

$verde:   map-get($colores, verde);
$oliva:   map-get($colores, oliva);
$bistre:  map-get($colores, bistre);
$baio:    map-get($colores, baio);
$gris:    map-get($colores, gris);
$blanco:  map-get($colores, blanco);
$naranja: map-get($colores, naranja);
$d-orang: map-get($colores, d-orang);
$negro:   map-get($colores, negro);


body{
    background-color: $blanco;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// M E N U
.menu{
    background-color: $negro;
    .submenu{
        background-color: $d-orang;
    
        .submenu__item--color{
            color: $blanco;
        }
        .submenu__item--color:hover{
            transform: scale(1.05);
            transition: all 0.3s;
            color: $negro;
        }
    }
}

// P R E S E N T A C I O N
.carrusel__titulo{
    font-size: 30px;
    text-shadow: 1px 1px 3px $negro;
    color: $blanco;
    background: #00000083;
    background-clip: content-box;
}
.presentacion{
    .presentacion__logo{
        margin-top: 80px;
        width: 45%;
    }
    .presentacion__titulo{
        color: $verde;
        text-shadow: 1px 1px 2px $oliva;
    }
    .presentacion__subtitulo{
        color: $oliva;
        text-shadow: 1px 1px 1px $verde;
    }
}
.titulo{
    color: $verde;
    text-shadow: 1px 1px 2px $oliva;
}

// L I N E A - D E - D I V I S I O N
@for $n from 1 through 2{
    .hr#{$n}{
        background-color: $naranja;
        border-style: none;
        @if($n == 1){
            height: 3px;
        } @else{
            height: 1px;
        }
    } 
}

// D E S A R R O L L O

// Z O N A - I Z Q U I E R D A
.izquierda{
    .galeria{
        border-bottom: 2px solid $naranja;
        border-radius: 8px;
        background-color: $gris;

        .galeria__h2{
            color: $d-orang;
            text-shadow: 1px 1px 2px $naranja;
        }

        .galeria__card{
            .tarjeta{
                border: 1px solid $d-orang;
                background-color: $blanco;
                width: 20rem;
                height: auto;

                .tarjeta__h5{
                    color: $oliva;
                }
                .botonRec{
                    width: 200px;
                }
            }
            .tarjeta__size{
                border: 1px solid $d-orang;
                background-color: $blanco;
                width: 50rem;
                height: auto;
                .foto{
                    height: 300px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .foto__url{
                    background-image: url(../assets/tips-cul/img-tips.jpeg);
                }
                .foto__url2{
                    background-image: url(../assets/sa_nu/veggie.jpeg);
                }
                .foto__url3{
                    background-image: url(../assets/sa_nu/vegetales.jpeg);
                }
                .foto__url4{
                    background-image: url(../assets/sa_nu/nutrientes.jpeg);
                }
                .tarjeta__h5{
                    color: $oliva;
                }
                .botonArt{
                    width: 250px;
                }
            }
            .tarjeta:hover, .tarjeta__size:hover{
                transform: scale(1.03);
                border: 2px solid $d-orang;
                transition: 0.5s;
            }
        }
        .galeria__boton{
            border-radius: 8px;
            border: none;
            height: 50px;
            margin-bottom: 10px;
            cursor: pointer;
            transform: translateX(0px);
            transition-duration: 0.3s;
            width: 400px;
            letter-spacing: 4px;
            background-color: $oliva;
        }

        .galeria__boton:hover{
            transform: translateY(-6px);
            animation: 1.5s cajaMov infinite;
        }
            
        @keyframes cajaMov{
            50%{
                transform: translateY(-1px);
            }
        }

    }
}

// Z O N A - D E R E C H A
.derecha{
    border-radius: 10px;
    margin-bottom: 10px;
    .derecha__titulo{
        color: $oliva;
        text-shadow: 1px 1px 1px $verde;
    }
    .presentacion__parrafo{
        color: $bistre;
    }
    .formulario{
        label{
            color: $negro;
            font-weight: bold;
        }
        .formulario__categoria--color{
            background-color: $verde;
            color: $blanco;
        }
        .formulario__categoria--color:hover{
            background-color: $verde;
            color: $blanco;
        }
        .formulario__boton--propiedades{
            background-color: $d-orang;
            color: $blanco;
            border-style: none;
            border-radius: 8px;
            letter-spacing: 2px;
            font-weight: bold;
            width: 250px;
            height: 50px;
        }
        .formulario__boton--propiedades:hover{
            transform: scale(1.2);
            animation: 1s flash 1;
            transition: 0.5s;
            color: $blanco;
        }
        @keyframes flash{
            50% { opacity: 1; }
            25%, 75% { opacity: 0; }
        }    
    }

    .galeria__derecha{
        .tarjeta{
            border: 1px solid $d-orang;
            width: 25rem;
            height: auto;

            .tarjeta__h5{
                color: $oliva;
            }
        }
            
        .tarjeta:hover{
            border: 2px solid $d-orang;
        }
    }
    .derecha__videos{
        max-width: 26rem;
        border-radius: 8px;
    }
}

// Z O N A - C E N T R A L
.videos{
    .videos__titulo{
        color: $verde;
        margin-bottom: 20px;
        text-shadow: 1px 1px 1px $oliva;
    }
    .videos__caja{
        max-width: 18rem;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .tarjetaV{
        border: 1px solid $d-orang;
        background-color: $blanco;
        width: 20rem;
        height: auto;

        .tarjetaV__h5{
            color: $oliva;
        }
    }
    .tarjetaV:hover{
        border: 2px solid $d-orang;
    }
}

// C O N T A C T O
.fondo{
    background-image: linear-gradient(
      115deg,
      #dee5e550,
      #0000009c),
    url(../assets/form/form-fondo.jpeg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.formContact{
    width: 80vw;
    height: auto;
    background-color: #eb6324b9;
    color: $blanco;
    border-radius: 1%;
    padding: 2%;
    
    label{
        font-size: 18px;
        width: 100%;
        height: 40px;
        border-style: none;
        border-radius: 3px;
    }

    button{
        width: 100%;
        height: 45px;
        font-size: 17px;
        background: $oliva;
        border-style: none;
    }
  }

// P I E - D E - P A G I N A
.footer{
    background-color: $verde;
    height: auto;

    .footer__menu__texto{
        color: $blanco;
        text-decoration-line: none;
        font-size: 18px;
    }

    .footer__menu__texto:hover{
        color: #fffff4c2;
        text-decoration-line: underline;
    }

    .footer__foto{
        width: 160px;
    }

    .footer__boton{
        background-color: $negro;
        border-style: none;
        width: 100%;
        text-decoration: none;
        color: $blanco;
        letter-spacing: 5px;
        font-weight: bold;
        height: 35px;
    }
    .footer__boton:hover{
        background-color: $oliva;
    } 
    .formulario{
        .formulario__categoria--color{
            background-color: $verde;
            color: $blanco;
        }
        .formulario__categoria--color:hover{
            background-color: $verde;
            color: $blanco;
        }
    }   
}